{% extends "tracker/base.html" %}

{% block title %}{{ project.name }}{% endblock %}

{% block content %}
	<h1>{{ project.name }}</h1>
	<p class="date">
		Started {{ project.start_date }}
	</p>
	{% for bug in bugs %}
	<div class="comment">
	<h3>
		<a href="{{ bug.get_absolute_url }}">
			Bug {{ bug.id }}
		</a>
		created by {{bug.name}}, {{ bug.open_date }}
	</h3>
	<p>{{ bug.description }}</p>
	</div>
	{% empty %}
		<p> There are no bugs yet.</p>
	{% endfor %}
	{% include "pagination.html" with page=bugs %}
	{% with bugs.count as total_bugs %}
		<h2>
			{{ total_bugs }} bug{{total_bugs|pluralize }}
		</h2>
	{% endwith %}
	{% if new_bug %}
		<h2>Your bug has been added.</h2>
	{% endif %}
	<h2>Add a new bug</h2>
	<form method="post">
		{{ bug_form.as_p }}
		{% csrf_token %}
		<p><input type="submit" value="Add bug"></p>
	</form>	
{% endblock %}
